.page {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
}

.content {
    height: 455px;
    display: flex;
    align-items: flex-start;
}

.gridBorder {
    background-color: white;
    border-radius: 3px;
}