.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    margin-top: 2rem;
    height: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 2rem;
    color: white;
    font-weight: normal;
}

.solve {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
    background-color: dodgerblue;
    color: white;
    width: 5rem;
    padding: 0.6rem;
    margin-top: 2rem;
}

.solve:hover {
    cursor:pointer;
}

.gridBorder {
    background-color: white;
    border-radius: 3px;
}