.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    height: 455px;
    display: flex;
    align-items: flex-start;
}

.gridBorder {
    background-color: white;
    border-radius: 3px;
}